.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }